body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "CeraProBold";
  src: local("CeraProBold"),
   url('./fonts/Cera Pro Bold.ttf') format("truetype");
  font-weight: bold;
  }
  
  
  @font-face {
    font-family: "CeraProMedium";
    src: local("CeraProMedium"),
     url('./fonts/Cera Pro Medium.ttf') format("truetype");
    }

    
    @font-face {
      font-family: "CeraProLight";
      src: local("CeraProLight"),
       url('./fonts/Cera Pro Light.ttf') format("truetype");
      }
      @font-face {
        font-family: "CeraProBlack";
        src: local("CeraProBlack"),
         url('./fonts/Cera Pro Black.ttf') format("truetype");
         font-weight: normal;
        }